{% extends 'structure/base.html' %}

{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block body %}

<section class="vh-100 text-white" id="splash">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 col-md-6 d-flex flex-column my-auto">
        <p class="text-uppercase lead font-weight-bold">
          Welcome to Hackathon Mentors!
        </p>
        <h1 class="mb-5 font-weight-bold">
          We Pair Qualified Mentors with Awesome Hackathons.
        </h1>
        <ul class="list-unstyled lead">
          <li>Our aim is to create opportunities for former hackers to give back to the hackathon community.</li>
          <li>Hackathon Mentors facilitates the process of getting qualified mentors to your event.</li>
          <li>We also enable mentors to use their experience to nourish the hacker community.</li>
        </ul>
      </div>
      <div class="d-none d-md-block col-6 my-auto">
        <img src="{% static 'img/splash-1.webp' %}" class="img-fluid mb-5">
      </div>
    </div>
  </div>
</section>

<section class="vh-50 py-5" id="mentors">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col d-flex flex-column my-auto">
        <h2 class="h1 mb-5 font-weight-bold">
          Mentors
        </h2>
        <p class="lead">
          We are looking for mentors with hackathon experience and the desire to help others realize their full
          potential in hackathon participation.<br>
          This includes: helping debug code, ideate project ideas, helping hackers acclimate to the community, and
          pitching their project.
        </p>
        <a type="button" class="btn btn-lg btn-outline-success" href="#contact">
          Sign Your Hackathon Up Now!
        </a>
      </div>
      <div class="d-none d-md-block col-6 my-auto">
        <img src="{% static 'img/splash-2-1.webp' %}" class="img-fluid mb-5">
      </div>
    </div>
  </div>
</section>

<section class="vh-50 py-5" id="hackathons">
  <div class="container h-100">
    <div class="row h-100">
      <div class="d-none d-md-block col-6 my-auto">
        <img src="{% static 'img/splash-2-2.webp' %}" class="img-fluid mb-5">
      </div>
      <div class="col d-flex flex-column my-auto">
        <h2 class="h1 mb-5 font-weight-bold">
          Hackathons
        </h2>
        <p class="lead">
          Register your hackathon with Hackathon Mentors to instantly gain access to highly qualified and motivated
          mentors who are determined to give back. We are partnering with events which enable our mentors to make an
          impact and enjoy a weekend of hacking fun!
        </p>
        <a type="button" class="btn btn-lg btn-outline-success" href="#contact">
          Sign Your Hackathon Up Now!
        </a>
      </div>
    </div>
  </div>
</section>


<section class="vh-100 bg-dark" id="contact">
  <div class="container h-100">
    <div class="d-flex flex-row justify-content-center h-100">
      <div class="col-6 my-auto">
        <h2 class="text-white text-center mb-5">
          Sign up for updates
        </h2>
        <form action="https://gmail.us4.list-manage.com/subscribe/post?u=0df9eb9df8e9a6f54d3dc9c3a&amp;id=d574cb485f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          {% csrf_token %}

          <div class="form-group">
            <label for="first_name" class="sr-only">First Name</label>
            <input class="form-control border-radius-100px" id="first_name" type="text" placeholder="First Name" name="FNAME">
          </div>

          <div class="form-group">
            <label for="last_name" class="sr-only">Last Name</label>
            <input class="form-control border-radius-100px" id="last_name" type="text" placeholder="Last Name" name="LNAME">
          </div>

          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input class="form-control border-radius-100px" id="email" type="text" placeholder="Email" name="EMAIL">
          </div>

          <button type="submit" class="btn btn-primary text-uppercase w-100 border-radius-100px">
            <span>Submit</span>
          </button>

          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0df9eb9df8e9a6f54d3dc9c3a_d574cb485f" tabindex="-1" value=""></div>

        </form>

        <p class="text-center small mt-3 text-light">
        We promise, we won't send spam.
        </p>

      </div>
    </div>
  </div>
</section>

{% endblock %}
