{% extends "structure/base.html" %}

{% block body %}

<section class="bg-light vh-100">
  <div class="container">
    <section class="py-3">
      <header class="d-flex justify-content-between">
        <h1 class="h1">
          <b>@{{ user.username }}</b> {% if mentor_profile %}<span class="badge badge-pill badge-primary">Mentor</span>{% endif %}
        </h1>
        <div>
          <a class="btn btn-primary" href="{% url 'user_edit' %}">Edit Info</a>
        </div>
      </header>
      <p>First Name: {{ user.first_name }}</p>
      <p>Last Name: {{ user.last_name }}</p>
      <p>Joined: {{ user.date_joined|date }}</p>
    </section>

    <section class="">
      <h2>Skills</h2>
      {% for user_skill in skills %}
        <span class="badge badge-primary badge-pill">{{ user_skill.skill.name }} ({{ user_skill.proficiency }})</span>
      {% endfor %}
    </section>
    
  </div>
</section>


{% endblock %}
