<footer class="bg-dark text-light py-3">
  <div class="d-flex container flex-row justify-content-between lead">
    <div class="text-light">
      Hackathon Mentors © 2020
    </div>
    <ul class="list-inline mb-0">
      <li class="list-inline-item"><a href="https://fb.me/hackathonmentors" target="_blank"><i class="fa fa-2x fa-facebook"></i></a></li>
      <li class="list-inline-item"><a href="https://twitter.com/hackathonmentor" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
      <li class="list-inline-item"><a href="https://instagram.com/hackathonmentors" target="_blank"><i class="fa fa-2x fa-instagram"></i></a></li>
    </ul>
  </div>
</footer>
