<footer class="bg-light text-light">
  <div class="container py-3 d-flex flex-column flex-md-row">
    <a class="nav-link text-muted font-weight-bold" href="#">Mentors</a>
    <a class="nav-link text-muted font-weight-bold" href="#">Hackathons</a>
    <a class="nav-link text-muted font-weight-bold disabled" href="#" tabindex="-1" aria-disabled="true">Resources</a>
  </div>

  <hr class="clearfix w-100 my-0">

  <div class="bg-dark">
    <div class="d-flex container flex-row justify-content-between lead py-3">
      <div class="text-light my-auto">
        <span class="h4">Hackathon Mentors &copy; 2020</span>
      </div>
      <ul class="list-inline mb-0">
        <li class="list-inline-item" style="width: 36px; height: auto;">
          <a href="https://fb.me/hackathonmentors" class="text-white-50" target="_blank" style="width: 1.5rem;">
            <i class="fa fa-2x fa-facebook">
            </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/hackathonmentor" class="text-white-50" target="_blank" style="width: 1.5rem;">
            <i class="fa fa-2x fa-twitter">
            </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://instagram.com/hackathonmentors" class="text-white-50" target="_blank" style="width: 1.5rem;">
            <i class="fa fa-2x fa-instagram">
            </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
